.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.blue {
    background: #5B4CD8;
}

.blue-text {
    color: #FFD540;
}

.green-blue {
    background: #057D9F;
}

.green-blue-text {
    color: #FF8100;
}

.pink {
    background: #CD0074;
}

.pink-text {
    color: #9FEE00;
}