.content{
    display: flex;
    align-items: flex-end;

    margin: 10px;
}

.avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.message {
    padding: 10px;

    background-color: rgba(67, 209, 156, 1);
    border-radius: 5px 5px 5px 0;
}


.angle{
    height: 15px;
    width: 15px;

    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(67, 209, 156, 1) 0);
}

.name{
    font-weight: bold;
    font-size: 20px;
    color: #bbffbb;
}

.text{
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
}

.time{
    display: flex;
    justify-content: flex-end;

    color: #bbffbb;
}