.input{
    appearance: none;
    width: 10px;
    height: 10px;
    border: black solid 1px;
    border-radius: 50px;
}

.active{
    appearance: none;
    border: rgb(67, 209, 156) solid 1px;
    background-color: rgb(67, 209, 156);
}

.input:hover{
    border: deepskyblue solid 3px;
    background-color: deepskyblue;
}