@keyframes slide-right {
    0% {
        left: 0;
    }
    100% {
        left: 215px;
    }
}
@keyframes slide-left {
    0% {
        left: 215px;
    }
    100% {
        left: 0;
    }
}

.items{
    left: -215px;
    position: relative;

}

.items:hover .item{
    animation: slide-right 1s forwards;
}

.items .item{
    animation: slide-left 1s;
}

.item{
    margin: 10px;
    height: 50px;
    position: relative;
    width: 50px;
}

.textColor{
    font-family: roboto, sans-serif;
    cursor: pointer;
    text-decoration: none;
    color: cadetblue;
}

.kub{
    border: black solid 1px ;
    height: 20px;
    position: absolute;
    width: 20px;
    background-image: linear-gradient(
            45deg,
            yellow 50%,
            black 50%
    );
}

.textColor:focus{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
            45deg,
            #FF0000 10%,
            #008000 50%,
            #00BFFF 70%
);
}

